

body { 
	padding:0px;
	max-width:1200px;
	margin: 0 auto;
	font-family:Source Sans Pro, sans-serif;
	font-size:100%;
	}
	
#header{ 
	background:#fff;
	width:100%;
	display:inline-block;
	position:relative;
	margin-top:10px;
	}
	
#header div {
	float: left;
	padding-bottom: 10px;
	width:100%;
	}
	
#header div h1{
	margin-bottom:0px;
	}
	
#header div h1 a{
	display:block;
	text-align:center;
	color:#000;
	text-decoration:none;
	outline: none;
	}
	
#header div.desc{
	text-align:center;
	font-size:2em;
	margin-top:10px;
	}
	
#chart {
	float:left;
	}
	

	
.div_left {
    position: relative;
    top: -700px;
    width: 250px;
	 
	}
	

	
.button {
  display: block;
  float:left;
  padding: 0.5em 1.0em;
  color: #222;
  font-family: sans-serif;
  font-size: 12px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

#country_element {
    margin-top: 2%;

}

#input_country {
	
	height: 20px;
	font-size: 14px;
	
}

#country_element .tag {
    margin-left: 0px;
	margin-bottom: 2px;

}

#input_country_container .dropdown-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#input_country_container .dropdown-btn {
	vertical-align: top;
	height: 26px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#input_country_container .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
	
	  
 text.y_title {
	font-size: 18px;
  }
  
   text.x_title {
	font-size: 18px;
  }
  
  
 text.country_label {
	font-size: 20px;
    cursor: pointer;
  }
  
 line {
	stroke-width: 1;
}
	  
 	line.tick_major  {
			opacity: 1;
	} 

 	line.tick_minor  {
			opacity: 1;
	}  	
	
	  .yaxis path,
	  .yaxis line {
			fill: none;
			stroke: #b7b7b7;
			opacity:1
		}
		
	

	.yaxis text {
		font-family: sans-serif;
	}
	
	  .yaxis_minor path,
	  .yaxis_minor line {
			fill: none;
			stroke: #b7b7b7;
			opacity:1;
		}
		
	  .xaxis path,
	  .xaxis line {
			fill: none;
			stroke: #b7b7b7;
			opacity:1
		}
		
	

	.xaxis text {
		font-family: sans-serif;
	}
	
	  .xaxis_minor path,
	  .xaxis_minor line {
			fill: none;
			stroke: #b7b7b7;
			opacity:1;
		}
		

	
