	
	#app{
		width: 100%;
		height: 100%;
	}

	#map-container{
		border: solid 1px transparent ;
	}

	#map-container svg{
		border:solid 1px transparent ;
	}

	path.country{
		stroke: #292929 ; 
		stroke-width: 0.2 ;
	}

	text.country-txt{
		font-size: 0.4em ; 
		/*text-shadow: 1px 1px #ffffff ; */
		display: none ; 
		fill: #000000 ;
	}

	table.dataset_table th, table.dataset_table td{
		border: solid 1px #ccc ;
		padding: 0px 5px ;
		font-size: 11px;
	}

	table.dataset_table th{
		background: 
	}

	table.dataset_table tr.row_0{
		display: none ;
	}

	img#iarc{
		position: absolute;
		bottom: 50px ; 
		left: 50px ;
		height: 65px ; 
	}

	img#who{
		position: absolute;
		bottom: 50px ; 
		right: 50px ;
		width: 70px ; 
	}

	div#copyright-footer-map{
		position: absolute;
	    bottom: 60px;
	    width: 200px;
	    right: 950px;
	    font-size: 0.8em;
	    text-align: justify;
	    line-height: 14px;
	}

	div#txt-footer-map{
		position: absolute;
	    bottom: 80px;
	    width: 1260px;
	    right: 150px;
	    font-size: 0.8em;
	    text-align: justify;
	    line-height: 14px;
	}

	/* line 568, ../sass/_components.scss */
	.canTooltip {
	  background: #ffffff;
	  border: solid 1px #eee;
	  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	  color: #333;
	  display: none;
	  left: 130px;
	  padding: 10px;
	  position: absolute;
	  text-align: center;
	  top: 95px;
	  z-index: 10;
	  width: auto;
	}
	/* line 581, ../sass/_components.scss */
	.canTooltip h5 {
	  margin: 0;
	  font-size: 14px;
	  font-weight: bold;
	  margin-bottom: 4px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  width: 100%;
	  text-align: left;
	  min-height: 20px;
	}
	/* line 592, ../sass/_components.scss */
	.canTooltip table {
	  border: none;
	  width: 100%;
	  font-size: 12px;
	}
	/* line 596, ../sass/_components.scss */
	.canTooltip table tr {
	  border-bottom: dotted 1px #cccccc;
	  padding: 3px 0;
	}
	/* line 599, ../sass/_components.scss */
	.canTooltip table tr td.metric {
	  text-align: left;
	  padding-right: 10px;
	}
	/* line 605, ../sass/_components.scss */
	.canTooltip table tr td.value {
	  font-weight: bold;
	  text-align: right;
	}
	/* line 611, ../sass/_components.scss */
	.canTooltip .g-tip-caret {
	  position: absolute;
	  bottom: -5.5px;
	  fill: #fff;
	  stroke: none;
	}
	/* line 618, ../sass/_components.scss */
	.canTooltip:after {
	  content: " ";
	  position: absolute;
	  bottom: -6px;
	  left: 50%;
	  margin-left: -7px;
	  width: 0;
	  height: 0;
	  border-left: 7px solid transparent;
	  border-right: 7px solid transparent;
	  border-top: 7px solid #ffffff;
	}
	/* line 631, ../sass/_components.scss */
	.canTooltip .label {
	  color: rgba(0, 0, 0, 0.87);
	  display: inline-block;
	  font-size: 12px;
	  padding: 5px 5px 0px 5px;
	  font-weight: 600;
	}
	/* line 637, ../sass/_components.scss */
	.canTooltip .label span {
	  display: inline-block;
	  text-align: left;
	  margin: 0 5px 5px 0;
	}
	/* line 642, ../sass/_components.scss */
	.canTooltip h4 {
	  font-size: 14px;
	  font-weight: bold ;
	  padding: 2px 2px ;
	  text-align: left;
	}
	/* line 646, ../sass/_components.scss */
	.canTooltip .label ol {
	  padding-left: 20px;
	}
	/* line 648, ../sass/_components.scss */
	.canTooltip .label ol li {
	  padding-left: 5px;
	  text-align: left;
	  font-weight: 400;
	}
	/* line 657, ../sass/_components.scss */
	.canTooltip table.val_tooltip tr td {
	  background: #fff;
	  border: solid 1px black;
	  padding: 3px 10px;
	}