	
	path.country{
		stroke: rgba(0,0,0,0.5) ; 
		stroke-width: 0.1;
		fill-opacity: 0.7 ;
	}

	path.country.hover{
		stroke: rgba(0,0,0,0.9);
		stroke-width: 0.5 ;
		fill-opacity: 1 ;
	}

	img#iarc{
		position: absolute;
		bottom: -30px;
		left: 50px ;
		height: 30px ; 
	}

	img#who{
		position: absolute;
		bottom: -30px;
		right: 50px ;
		width: 45px ; 
	}

	div#copyright-footer-map{
		position: absolute;
	    bottom: -30px;
	    width: 200px;
	    right: 950px;
	    font-size: 0.8em;
	    text-align: justify;
	    line-height: 14px;
	}

	div#txt-footer-map{
		position: absolute;
	    bottom: -25px;
    	width: 75%;
    	left: 200px;
	    font-size: 0.6em;
	    text-align: center ;
	    line-height: 14px;
	}

	.footer-map{
    	position: relative ; 
	}

	svg#legend{
	    position: absolute;
	    left: 450px ; 
	    bottom: -40px ;
	}

	svg#legend_bubble{
		position: absolute;
	    left: 650px;
	    bottom: -40px;
	}

	svg#legend .for_bubble{
		display: none ; 
	}

	.unit-label {
	    font-size: 16px;
	    font-weight: 500;
	    text-anchor: middle;
	    text-decoration: underline;
	}

	.subunit-label {
	    fill: #777575;
	    fill-opacity: 0;
	    font-size: 2px;
	    font-weight: 300;
	    text-anchor: middle;
	}

	.subunit-label.selected {
	    fill: #000 ; 
	    font-size: 4px ; 
	}

	.subunit-label.shown{
		fill-opacity: 1;
	}

	.subunit-label.zoomed{
		fill-opacity: 0.6 ; 
	}

	div#hubPanel,div#countryPanel{
	    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3); 
	    position: absolute;
	    top: 20%; 
	    right: -700px ; 
	    transition: all .7s ease-in-out;
	    background-color: #fff ; 
	    padding: 0 25px ; 
	    width: 600px ; 
	    height: 500px ; 
	    overflow-y: auto ;
	}

	div#hubPanel.show,div#countryPanel.show{
	    right: 0px ; 
	}

	div.hub-line{
		position: absolute;
		width: 100%;
		left: 0 ; 
		height: 3px ; 
	}

	div.hub-line.top{
		top: 0 ; 
	}

	div.hub-line.bottom{
		bottom: 0 ; 
	}

	div#hubPanel h2,div#countryPanel h2{
	    color: #1e4273 ;
	    width: 100% ; 
	}

	div#hubPanel h3,div#countryPanel h3{
	    font-size: 14px;
	    color: #000 ; 
	    padding: 5px 0px ; 
	    border-bottom: solid 2px white ; 
	}

	h3.countries-hub-list-title{
		border-bottom: none !important ; 
	}

	div#countryPanel p{
		padding-left: 5px ; 
	}

	div#countryPanel #chart{
	    width: 550px ; 
	    height: 250px ; 
	}

	div#countryPanel .tab-content ul li{
		list-style-type: disc ; 
	}

	ul.hubCountries{
		padding-left: 0px ; 
		display: block ; 
		float: left ; 
		width: 100% ;
	    margin: 0 ;
	}

	ul.hubCountries li{
	    float: left ; 
	    width: auto ; 
	    margin: 0 5px 5px 0 ;
	}

	ul.hubCountries li a{
	    display: block;
	    border-left: solid 3px transparent ;
	    padding: 3px 5px ;   
	    font-size: 11px; 
	    line-height: 14px ;
	    transition: all .1s ease-in-out;
	    text-decoration: none ; 
	    color: #fff ; 
	}

	ul.hubCountries li a:hover{
		background: #ccc ; 
	}

	.canTooltip{
		width: 150px ; 
		padding: 10px ;
		background: #ccc ;
		box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3); 
		position: absolute;
		top: 95px;
		display: none ; 
	}

	.canTooltip .tooltip-line{
		position: absolute ;
		width: 100% ; 
		top: 0 ; 
		left: 0 ; 
		height: 3px ;
	}

	.canTooltip h2{
		padding: 0 ; 
		margin: 0 ;
		color: #fff ; 
		font-size : 13px ; 
		text-align: center ; 
		line-height: 14px ; 
	}

	.canTooltip h2 span{
		font-size : 11px ; 
		color: #000 ; 
		padding-left: 10px ; 
	}

	.tabs-menu {
	    height: 30px;
	    float: left;
	    clear: both;
	    padding: 0;
    	margin: 0;
	}

	.tabs-menu li {
	    height: 30px;
	    line-height: 30px;
	    float: left;
	    float: left;
    	padding: 0 5px;
	    margin-right: 10px;
	    background-color: #ccc;
	    border-top: 1px solid #d4d4d1;
	    border-right: 1px solid #d4d4d1;
	    border-left: 1px solid #d4d4d1;
	}

	.tabs-menu li.current {
	    position: relative;
	    background-color: #fff;
	    border-bottom: 1px solid #fff;
	    z-index: 5;
	}

	.tabs-menu li a {
	    color: #fff;
	    text-decoration: none;
    	font-size: 0.9em; 
	}

	.tabs-menu .current a {
	    color: #2e7da3;
	}

	.tab {
	    border: 1px solid #d4d4d1;
	    background-color: #fff;
	    float: left;
	    width: 100%;
	    margin-bottom: 20px;
	}

	.tab-content {
	    width: 95%;
    	padding: 10px;
	    display: none;
	    font-size: 1em ; 
	}

	.tab-content table{
		width: 100% ; 
		margin: 5px 0 ; 
		border-collapse: collapse ; 
		display: block;
    	position: relative;
	}

	.tab-content table tr:nth-child(odd){
		background-color: #e0dede ; 
	}

	.tab-content table tr td{
		padding: 3px ; 
		width: 50% ; 
		font-size: 0.8em ; 
	}

	.tab-content table tr td:nth-child(2){
		text-align: right ; 
	}

	#tab-1 {
	 display: block;   
	}

	ul.hubs-list{
	    margin: auto;
	    position: absolute ; 
	    padding-left: 0px;
	    bottom: 150px;
	    left: 50px;
	    width: 275px ;
	}

	ul.hubs-list.hidden{
		display: none ; 
	}

	ul.hubs-list li{
	    list-style-type:  none ; 
	    display: inline-block ;
	    float: left ;  
	    width: 100%;
	    height: 20px;
	    vertical-align: top;
	    margin-top: 0px;
	}

	ul.hubs-list li a{
	    font-size: 0.8em ;
	    text-decoration: none ; 
	}

	ul.hubs-list li span{
	    width: 30px;
	    height: 10px;
	    display: inline-block;
	    margin-right: 5px;
	}

	ul.activities-list{
	    margin: auto;
	    position: absolute ; 
	    padding-left: 0px;
	    bottom: 150px;
	    left: 50px;
	    width: 275px ;
	    display: none ; 
	}

	ul.activities-list.hidden{
		display: none ; 
	}

	ul.activities-list li{
	    list-style-type:  none ; 
	    display: inline-block ;
	    float: left ;  
	    width: 100%;
	    height: 20px;
	    vertical-align: top;
	    margin-top: 0px;
	}

	ul.activities-list li a{
	    font-size: 0.8em ;
	    text-decoration: none ; 
	}

	ul.activities-list li span{
	    width: 30px;
	    height: 10px;
	    display: inline-block;
	    margin-right: 5px;
	    text-align: center ; 
	}

	.place-label{
		font-size: 0.07em ;
		display: none ; 
	}

	.place-label.show{
		display: block ; 
	}
